<h2>Sign Up Here...</h2>
  <div class="form">
  <form #employeeForm="ngForm" (ngSubmit)="onSubmit(employeeForm)">
    <div class="form-group">
      <label>First Name</label>
      <input class="form-control" name="fname" #fname="ngModel"
      [(ngModel)]="employeeService.fname" placeholder="first name"
      required pattern="[A-Za-z]*" >
    </div>
  <div class ="name" *ngIf="fname.errors?.pattern">
    First name should contains only characters!
    </div>

    <div class="form-group">
        <label>Last Name</label>
        <input class="form-control" name="lname" #lname="ngModel"
        [(ngModel)]="employeeService.lname" placeholder="last name"
        required pattern="[A-Za-z]*">
    </div>
    <div class ="name" *ngIf="lname.errors?.pattern">
      last name should contains only characters!
    </div>


    <div class="form-group">
          <label>Email Id</label>
          <input class="form-control" name="email" #email="ngModel" id ="email"
          [(ngModel)]="employeeService.email" placeholder="Email Id" required
          #email="ngModel" pattern="\b[a-z 0-9._%+-]+@[a-z 0-9.-]+\.[a-z]{2,}\b">
    </div>
    <div *ngIf="email.errors?.pattern">
      email is invalid!
  </div>


    <div class="form-group">
        <label>Password</label>
        <input class="form-control" name="psw" #psw="ngModel"
        [(ngModel)]="employeeService.psw" placeholder="password"
        ngModel required minlegth="5" maxlength="10" pattern="[A-Za-z]*[0-9]*">
    </div>
    <div *ngIf="psw.errors?.pattern">
      password is invalid!
  </div>

    <div class="form-group">
          <label>Mobile No.</label>
        <div class="input-group">
          <div class="input-group-addon">
            <i class="fa fa-dollar"></i>
          </div>
          <input class="form-control" name="mobno" #mobno="ngModel"
          [(ngModel)]="employeeService.mobno" placeholder="mobile no" required
          minlegth="10" maxlength="10"  pattern="[0-9]*">
        </div>
        <div *ngIf="mobno.errors?.pattern">
          contact is invalid!
      </div>

    </div>
    <div class="form-group">
      <button class="btn btn-default" type="submit" [disabled]="!employeeForm.valid">
        <i class="fa fa-floppy-o"></i>
        Submit</button>&nbsp;
      <button class="btn btn-default" type="button" (click)="resetForm(employeeForm)">
        <i class="fa fa-repeat"></i>
        Reset</button>

    </div>
    <button (click)="addUser(email.value,psw.value)" >Login</button>


  </form>
