<h2>Contact Information</h2>
<html lang="en">
  <body>
    <div class="form">
      <div class="row main">
          <div class="main-login main-center">


<h5>Savitribai Phule Pune University, <br>
Ganeshkhind Road,<br> 
Pune - 411 007 <br>
Maharashtra State, <br>
India. </h5>
<br>
<h3>Mobile Number</h3>
<h5>8698350598<br>
8983976669<br>
7397983503
</h5>
<br>
<h3>E-MAIL</h3>
<h5>vrushalikhalekar@gmail<br>
poojamane@gmail.com<br>
payalbhosale@gmail.com<br></h5>
<br>
<h3>Timings</h3>
<h5>The University office has holidays on the 1st and the 3rd Saturday of every month. 
The office hours are 10:30 to 17:30. </h5><br>

<h3>For Queries:</h3>
<h5>Email :a routerLink="office@cs.unipune.ac.in"</h5>

<a routerLink=""> Back</a>
</div>
</div>
</div></body></html>

