<h2><marquee><b>WELCOME TO SAVITRIBAI PHULE PUNE UNIVERSITY</b></marquee></h2><br>
<!--angular-image-slider [images]="imagesUrl"></angular-image-slider-->
<div class="header" >
  <h1>Savitribai Phule Pune University</h1>
</div>
<div class="nav">
  <ul>
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/sign-up">login</a></li>
    <li><a routerLink="/log-in">signup</a></li>
    <li><a routerLink="/about">About</a></li>
    <li><a routerLink="/contact-us">Contact Us</a></li>
  </ul>
</div>
<script src="http://www.some-library.com/library.js"></script>
    <script src="./src/assets/slider.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">

<div class="slideshow-container">

<div class="mySlides fade">  
  <img src="./src/assets/11.jpg" style="width:100%">
  <!--div class="text">Caption Text</div-->
  </div>

<div class="mySlides fade">
  <img src="./src/assets/12.jpg" style="width:100%">
</div>

<div class="mySlides fade"> 
  <img src="./src/assets/14.jpg" style="width:100%">
</div>

</div>
<br>

<div style="text-align:center">
  <span class="dot"></span> 
  <span class="dot"></span> 
  <span class="dot"></span> 
</div>
