
<html lang="en">
    <h2>Contact Person Details..</h2>
    <body>
      <div class="form">
          <div class="row main">
              <div class="main-login main-center">
      <form #employeeForm="ngForm">
    
      
        <div class="form-group">
          <label class="cols-sm-2 control-label">Enter Name</label>
          <div class="cols-sm-10"> 
             <div class="input-group">
            <span class="input-group-addon">
              <i class="fa fa-user fa" aria-hidden="true">
            </i></span>
          <input class="form-control" name="Ename" #ename="ngModel"
          [(ngModel)]="employeeService.ename" placeholder="Enter name" 
          required pattern="[A-Za-z]*" >
        </div>
        </div>
        </div>
       
        <div class="form-group">
            <label>Mobile No.</label>
          <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-phone" aria-hidden="true"></i></span>
            <input class="form-control" name="mobno" #mobno="ngModel"
            [(ngModel)]="employeeService.mobno" placeholder="mobile no" required
            minlegth="10" maxlength="10"  pattern="[0-9]*">
          </div>
          </div>

          <div class="form-group">
            <label class="cols-sm-2 control-label">Reason</label>
            <div class="cols-sm-10"> 
               <div class="input-group">
            <textarea class="form-control" rows="3" cols="60" name="reason" #ename="ngModel"
            [(ngModel)]="employeeService.reason"placeholder="reason" 
            required pattern="[A-Za-z]*" ></textarea>
          </div>
          </div>
          </div>
           
          

          

          

          
  
    
        
        <div class="form-group">
          <button class="btn btn-default" type="submit" [disabled]="!employeeForm.valid">
            <i class="fa fa-floppy-o"></i>
            Submit</button>&nbsp;
          <button class="btn btn-default" type="button" (click)="resetForm(employeeForm)">
            <i class="fa fa-repeat"></i>
            Reset</button>
    
        </div>
      
    
      </form>
    </div>
    </div>
    </div>
    </body>
    </html>