<html lang="en">
    <h2>Contact Person Details..</h2>
    <script src="http://www.some-library.com/library.js"></script>
    <script src="./src/assets/popup.js"></script>
    <body>
        <div class="nav">
            
            <ul>
            <li><a style="cursor: pointer;" (click)="logout()">Logout</a></li>

                <li><a routerLink="/status">Check Status</a></li>
              <li>
                  <img src="{{gv.user.image}}" class="user image">
                  
                  <p class="name">{{gv.user.first_name}}_{{gv.user.last_name}}</p>
            </li>
            </ul>
          </div>


      <div class="form">
          <div class="row main">
              <div class="main-login main-center">
      <form #employeeForm="ngForm">


        <div class="form-group">
          <label class="cols-sm-2 control-label">Enter Name</label>
          <div class="cols-sm-10">
             <div class="input-group">
            <span class="input-group-addon">
              <i class="fa fa-user fa" aria-hidden="true">
            </i></span>
          <input class="form-control" name="ename" #ename="ngModel"
          [(ngModel)]="contactPersonService.Cname" placeholder="Enter name"
          required pattern="[A-Za-z]*" >
        </div>
        </div>
        </div>

        <div class="form-group">
            <label>Email Id</label>
          <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true">
                    </i></span>
            <input class="form-control" name="mobno" #mobno="ngModel"
            [(ngModel)]="contactPersonService.Cmail" placeholder="mail id" required
            >
          </div>
          </div>

          <div class="form-group">
            <label class="cols-sm-2 control-label">Reason</label>
            <div class="cols-sm-10">
               <div class="input-group">
            <textarea class="form-control" rows="3" cols="60" name="reason" #reason="ngModel"
            [(ngModel)]="contactPersonService.Creason"placeholder="reason"
            required></textarea>
          </div>
          </div>
          </div>
           <!--
          <div class="form-group">
            <label>status</label>
          <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-phone" aria-hidden="true"></i></span>
            <input class="form-control" name="status" #status="ngModel"
            [(ngModel)]="contactPersonService.Cstatus" placeholder="status" required>
          </div>
          </div>

        -->
        <br>
        <br>
        <div class="form-group">
        <!--div class="popup" onclick="myFunction()"-->

          <button class="btn btn-default" onclick="myFunction()" type="submit" (click)='contactInfo()' [disabled]="!employeeForm.valid">
            <i class="fa fa-floppy-o"></i>
            Submit</button>&nbsp;
            <div id="snackbar">Succesfully Email Send..</div>
            <!--span class="popuptext" id="myPopup">Succesfully Email send!</span-->

          <button class="btn btn-default" type="reset" (click)="resetForm(employeeForm)">
            <i class="fa fa-repeat"></i>
            Reset</button>

        </div>





      </form>
    </div>
    </div>
    </div>
    </body>
    </html>
