

  <h2>Contact Person Details..</h2>
  <div class="form">
  <form>
    
  
    <div class="container">
      <input type="text" placeholder="Enter name" name="fname" required>
      <div class="custom-select" style="width:500px;">
        <b>Faculty:</b>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <select>
        <option value="1">Student</option>
        <option value="2">Teacher</option>
        <option value="3">Office Staff</option>
        <option value="4">Other</option>
      </select>
    </div>
  
      <input type="text" placeholder="Enter mobile no" name="mobno" required>
  
      <button type="submit">Submit</button>
      <button  a routerLink="/sign-up">Logout</button>
      

    </div>
  
    
  </form>
  </div>
  