
<html lang="en">
        <script src="http://www.some-library.com/library.js"></script>
        <script src="./src/assets/y.js"></script>
        <script src="./src/assets/popup.js"></script>
  <body>
      


    <div class="form">
      <div class="row main">
          <div class="main-login main-center">
            <form #employeeForm="ngForm" >

                    

                    <div class="form-group">
                            <label>yes <input id="yes" onclick="javascript:yesnoCheck();" type="radio" name="status" id="yesCheck" [(ngModel)]="status" value="S" />
                            
                            </label>
                           </div>&nbsp;
                      <div class="form-group">
                          <label>no
                                <input id="no" type="radio" onclick="javascript:yesnoCheck();" name="status" id="yesCheck" [(ngModel)]="status" value="N" />
                          </label>
            
            </div>
            <div id="ifYes" style="visibility:hidden">
    <div class="form-group">
          <label>Date</label><br>
          <div class="cols-sm-10">
            
              <input class="form-control" name="date" 
              [(ngModel)]="date" type="date" id='yes' name='yes'>
    
    </div>
</div>
<br>
    
<div class="form-group">
             
    <label class="cols-sm-2 control-label">In Time</label>

    <div class="cols-sm-10"> 
       <div class="input-group">
        <input class="form-control" name="inTime" 
        [(ngModel)]="inTime" placeholder="00:00"
         type="text" id='yes' name='yes'>   
  </div>
  </div>
  </div>
  </div>
  <br>

    
    <button  class="btn btn-default" onclick="myFunction()"  (click)="contactStatus()"   ><i class="fa fa-floppy-o"></i> Submit</button>
     &nbsp;&nbsp;
     <div id="snackbar">Thank You..</div>
    <button  class="btn btn-default"> <i class="fa fa-repeat"></i> Back</button>

  </form>
</div>
</div>
</div>
</body>
</html>