
<html lang="en">
  <body>
      Yes
      <input type="radio" onclick="javascript:yesnoCheck();" name="yesno" id="yesCheck"/>No
      <input type="radio" onclick="javascript:yesnoCheck();" name="yesno" id="noCheck"/>
      <br>
      <div id="ifYes" style="visibility:hidden">If yes, explain:
          <input type='text' id='yes' name='yes'/>
          <br>What can we do to accommodate you?
              <input type='text' id='acc' name='acc'/>
      </div>
         other 3
      <input type='text' id='other3' name='other3'>
      <br>
          other 4
      <input type='text' id='other4' name='other4'>
      <br>



    <div class="form">
      <div class="row main">
          <div class="main-login main-center">
            <form #employeeForm="ngForm" >

                    

                    <div class="form-group">
                            <label>yes <input id="yes" type="radio" name="status" [(ngModel)]="status" value="S" />
                            
                            </label>
                           </div>&nbsp;
                      <div class="form-group">
                          <label>no
                                <input id="no" type="radio" name="status" [(ngModel)]="status" value="N" />
                          </label>
            
            </div>

    <div class="form-group">
          <label>Date</label><br>
          <div class="cols-sm-10">
            
              <input class="form-control" name="date" 
              [(ngModel)]="date" type="date">
    
    </div>
</div>
<br>
    
<div class="form-group">
             
    <label class="cols-sm-2 control-label">In Time</label>

    <div class="cols-sm-10"> 
       <div class="input-group">
        <input class="form-control" name="inTime" 
        [(ngModel)]="inTime" placeholder="00:00"
         type="text">   
  </div>
  </div>
  </div>
  <br>

    
    <button  class="btn btn-default" (click)="contactStatus()"   ><i class="fa fa-floppy-o"></i> Submit</button>
     &nbsp;&nbsp;
    <button  class="btn btn-default"> <i class="fa fa-repeat"></i> Back</button>

  </form>
</div>
</div>
</div>
</body>
</html>