<html>
  <h2>Login Here...</h2>
  <body>
  <div class="form">

      <div class="row main">
          <div class="main-login main-center">
            <form #employeeForm="ngForm" >


    <div class="form-group">
          <label>Email Id</label>
          <div class="cols-sm-10">
              <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true">
                    </i></span>
          <input class="form-control" name="email" #email="ngModel" 
          [(ngModel)]="employeeService.email" placeholder="Email Id" required
          #email="ngModel" pattern="\b[a-z 0-9._%+-]+@[a-z 0-9.-]+\.[a-z]{2,}\b">
    </div>
  </div>
</div>
    <div *ngIf="email.errors?.pattern">
      email is invalid!
  </div>

    
    <div class="form-group">
        <label for="password" class="cols-sm-2 control-label">Password</label><br>
        <div class="cols-sm-10">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                <input class="form-control" name="psw" #psw="ngModel" type="password"
        [(ngModel)]="employeeService.psw" placeholder="password" 
        ngModel required minlegth="5" maxlength="10" pattern="[A-Za-z]*[0-9]*">
    </div>
  </div>
</div>
    <div *ngIf="psw.errors?.pattern">
      password is invalid!
  </div><br>
  
    
    
    <button (click)="addUser(email.value,psw.value)"  class="btn btn-primary btn-lg"  >Login</button>
    &nbsp;&nbsp;
    <button  a routerLink="/home" class="btn btn-primary btn-lg">Back</button>
  </form>
</div>
</div>
</div>
</body>
</html>
  