
    <ul>
                  <h1>Entry Pass</h1>

      <a style="margin-left: 20px;" (click)="logout()">Logout</a>
      
<!--<img src="{{gv.user.image}}" class="user image">-->
          
     <!--     <p class="name">{{gv.user.first_name}}_{{gv.user.last_name}}</p>-->
    </ul>


<div style="margin-top: 5px;">
  <h4> User Name:</h4>
  <label>{{gv.user.first_name}} {{gv.user.last_name}}</label>
</div>

<div style="margin-top: 10px;">
    <h4>Contact Person Name:</h4>
    <label> {{status_data[0].name}} </label>
</div>
<div *ngIf="status_data[0].status == 'P'">
<div style="margin-top: 35px;">
    <h4>Date to meet:</h4>
    <label>{{status_data[0].date_to_meet |date}}</label>
</div>
<div style="margin-top: 40px;">
    <h4>Time to meet:</h4>
    <label>{{status_data[0].date_to_meet |date:'HH:mm'}}</label>
    </div>
</div>
<div style="margin-top: 45px;" *ngIf="!(status_data[0].status == 'P')">
    <label>Constact Person Does'nt want to meet you.</label>
</div>
