
<html>
  <h2>About Savitribai Phule Pune University</h2><br><br>
    <div id="container" style="white-space: nowrap;">
    <table> <tr> <th>
  <h4>&nbsp;&nbsp;&nbsp;&nbsp;<b>Savitribai Phule Pune University</b>, one of the premier universities in
      India, is positioned in the North-western part of Pune city. It occupies an area of about 411
      acres. It was established on 10th February, 1949 under the Poona University Act. The university
      houses 46 academic departments. It is popularly known as the 'Oxford of the East'. It has about 307 recognized research institutes and 612 affiliated colleges offering graduate and 
       under-graduate courses.</h4></th>
      <th colspan="5">
   <img src="./assets/mainbuilding.jpg" alt="Smiley face">
   </th></tr>
    </table>
    <br>
      <h3><u>University at a glance</u></h3>
  <br><br>
  
  
  
  
  <table>
    <tr>
     <h5><th  colspan="10">Date of Establishment :</th></h5> <th>10th February, 1949.</th></tr>
  <tr>
    <h5><th  colspan="10">Location   :</th></h5> <th>	Ganeshkhind Road,  Pune, Maharashtra, India.</th></tr>
      
      <tr>
        <h5><th  colspan="10">Website address  :</th></h5> <th>	http://www.unipune.ac.in</th></tr>
      
          <tr>
            <h5><th  colspan="10">Total area of the campus  :	</th></h5> <th>411 Acres.</th></tr>
      
              <tr>
                <h5><th  colspan="10">First Vice-Chancellor  :</th></h5> <th>Dr. M. R. Jayakar.</th></tr>
      
      
                      <tr>
                        <h5><th  colspan="10">Vice -Chancellor  :	</th></h5> <th>Prof. (Dr.) Nitin R. Karmalkar</th></tr>
      
                          <tr>
                            <h5><th  colspan="10">Number of Academic  Departments  :</th></h5> <th>	46</th></tr>
      
      
  <tr>
    <h5><th  colspan="10">Recognized Institutes  :</th></h5> <th>  	234</th></tr>
      
      <tr>
        <h5><th  colspan="10">Research Institutes  : </th></h5> <th> 	71</th></tr>
      
          <tr>
            <h5><th  colspan="10">Teachers in the University Departments  :</th></h5> <th>	293</th></tr>
      
              <tr>
                <h5><th  colspan="10">Faculties  : </th></h5> <th> 	12</th><th></th><th><a routerLink="/">Back</a></th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<th><a routerLink="/contactdetail">Next</a></th></tr>
   </table></div>
   
  </html>